.navbar {
    background-color: #4267b2 !important;
    padding: 0 !important;
    font-family: inherit !important;
}

.nav-link {
    color: #FFFFFF;
}

.fab, .fas {
    color: #FFFFFF;
}

#profile-photo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.margin-top {
    margin-top: 7px;
}
.menu {
    width: 50%;
    margin: auto;
}

.search {
    height: 1.5rem;
}